@model IEnumerable<spbu.Models.DataKendaraan>

@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a asp-action="CheckData">Cek Data</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Nomor Plat
            </th>
            <th>
                Jumlah BBM
            </th>
            <th>
                Tanggal Pengisian
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NomorPlat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JumlahBbm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TanggalPengisian)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
